<% require "dotenv"; Dotenv.load(".env.deploy") %>
service: evolution

# Name of the container image.
image: <%= ENV["IMAGE_NAME"] %>

# Deploy to these servers.
servers:
  web:
    - <%= ENV["WEB_SERVER_IP"] %>

proxy:
  ssl: true
  forward_headers: true
  host: <%= ENV["WEB_SERVER_URL"] %>
  app_port: 8080
  healthcheck:
    path: /

# Credentials for your image host.
registry:
  server: <%= ENV["REGISTRY_SERVER"] %>
  username: <%= ENV["REGISTRY_USERNAME"] %>
  password:
    - REGISTRY_PASSWORD

# Configure builder setup.
builder:
  arch: amd64

aliases:
  console: app exec --interactive --reuse "bin/rails console"
  shell: app exec --interactive --reuse "sh"
  logs: app logs -f
  logs-sidekiq: app logs -f --container=sidekiq
  dbc: app exec --interactive --reuse "bin/rails dbconsole"

env:
  clear:
    SERVER_URL: https://<%= ENV["WEB_SERVER_URL"] %>

    AUTHENTICATION_TYPE: apikey
    AUTHENTICATION_EXPOSE_IN_FETCH_INSTANCES: true
    AUTHENTICATION_API_KEY: <%= ENV["AUTHENTICATION_API_KEY"] %>
    
    #LOGTAIL_TOKEN: <%= ENV["LOGTAIL_TOKEN"] %>
    #LOGTAIL_ENDPOINT: <%= ENV["LOGTAIL_ENDPOINT"] %>

    LANGUAGE: pt-BR

    DATABASE_ENABLED: true
    DATABASE_PROVIDER: <%= ENV["DATABASE_PROVIDER"] %>
    DATABASE_CONNECTION_URI: <%= ENV["DATABASE_CONNECTION_URI"] %>
    DATABASE_CONNECTION_CLIENT_NAME: evolution
    DATABASE_SAVE_DATA_INSTANCE: true
    DATABASE_SAVE_DATA_NEW_MESSAGE: true
    DATABASE_SAVE_MESSAGE_UPDATE: true
    DATABASE_SAVE_DATA_CONTACTS: true
    DATABASE_SAVE_DATA_CHATS: true
    DATABASE_SAVE_DATA_LABELS: true
    DATABASE_SAVE_DATA_HISTORIC: true

    OPENAI_ENABLED: false
    DIFY_ENABLED: false
    CHATWOOT_ENABLED: true
    DEL_INSTANCE: false
    CONFIG_SESSION_PHONE_VERSION: <%= ENV["CONFIG_SESSION_PHONE_VERSION"] %>

    TYPEBOT_ENABLED: true
    TYPEBOT_API_VERSION: latest

    CACHE_REDIS_ENABLED: true
    CACHE_REDIS_URI: <%= ENV["REDIS_URL"] %>/2
    CACHE_REDIS_PREFIX_KEY: evolution
    CACHE_REDIS_SAVE_INSTANCES: false

    PROMETHEUS_METRICS: true
    METRICS_AUTH_REQUIRED: true
    METRICS_USER: evo-prometheus-metrics
    METRICS_PASSWORD: "6DTLtBqBU_PTfVPsB9t6F-v7NCN.hquu88G_H_AnsfMnX9ZTqZ"
    METRICS_ALLOWED_IPS: 162.120.186.81,170.239.226.191,135.181.254.204,178.156.162.120

accessories:
  node-exporter:
    host: <%= ENV["WEB_SERVER_IP"] %>
    image: prom/node-exporter:latest
    files:
      - observability/node_exporter/config.yml:/root/node_exporter/config.yml
    directories:
      - /root/evolution-node-exporter/root/node_exporter:/etc/node_exporter
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    cmd: "--path.procfs=/host/proc --path.rootfs=/rootfs --path.sysfs=/host/sys --web.config.file=/etc/node_exporter/config.yml"
    port: 9100
    proxy:
      ssl: true
      host: <%= ENV["METRICS_SERVER_URL"] %>
      app_port: 9100
      healthcheck:
        path: /metrics